.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.home-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.home-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.home-left {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.home-links {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  flex-direction: row;
}
.home-text {
  font-size: 35px;
  min-width: auto;
  font-family: Alegreya Sans SC;
}
.home-left1 {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.home-links1 {
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  flex-direction: row;
}
.home-text001 {
  font-family: Alegreya Sans SC;
}
.home-text002 {
  text-align: center;
  font-family: Alegreya Sans SC;
}
.home-text003 {
  font-family: Alegreya Sans SC;
}
.home-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-sign-in {
  font-family: Alegreya Sans SC;
  margin-right: 20px;
}
.home-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.home-get-started:hover {
  background-color: #5228F5;
}
.home-text004 {
  color: #ffffff;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 600;
}
.home-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.home-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.home-text005 {
  color: rgb(255, 255, 255);
  font-size: 52px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  line-height: 80px;
}
.home-text006 {
  color: rgb(238, 233, 254);
  width: 100%;
  font-size: 41px;
  max-width: 800px;
  margin-top: 16px;
  text-align: center;
  font-family: Alegreya Sans SC;
  line-height: 30px;
}
.home-get-started1 {
  color: white;
  cursor: pointer;
  display: flex;
  margin-top: 40px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.home-get-started1:hover {
  color: black;
  background-color: #ffffff;
}
.home-text007 {
  font-size: 18px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 600;
}
.home-how-it-works-for-indivs {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #211062;
}
.home-centered-container {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.home-heading {
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text008 {
  color: rgb(220, 212, 253);
  font-size: 25px;
  align-self: center;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-text009 {
  color: var(--dl-color-gray-white);
  font-size: 46px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  text-transform: capitalize;
}
.home-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.home-category {
  color: white;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding-left: var(--dl-space-space-fourunits);
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
  background-color: #5228F5;
}
.home-headng {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-text016 {
  font-size: 32px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: 16px;
}
.home-text017 {
  color: rgb(238, 233, 254);
  font-size: 26px;
  font-family: Alegreya Sans SC;
  line-height: 24px;
  margin-left: 0px;
  margin-bottom: 40px;
}
.home-text018 {
  font-style: normal;
  font-weight: 300;
}
.home-text019 {
  font-style: normal;
  font-weight: 300;
}
.home-text020 {
  font-style: normal;
  font-weight: 300;
}
.home-text021 {
  font-style: normal;
  font-weight: 300;
}
.home-text022 {
  font-style: normal;
  font-weight: 300;
}
.home-text023 {
  font-style: normal;
  font-weight: 300;
}
.home-get-started2 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-get-started2:hover {
  color: black;
  background-color: #ffffff;
}
.home-text025 {
  font-size: 18px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 600;
}
.home-container2 {
  flex: 1;
  height: 100%;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
}
.home-pasted-image {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-row {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: row;
}
.home-category1 {
  flex: 1;
  color: white;
  height: 555px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.home-headng1 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: 26px;
  flex-direction: column;
  padding-bottom: 0px;
}
.home-text026 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: 16px;
}
.home-text027 {
  color: rgb(30, 30, 30);
  font-size: 26px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  line-height: 24px;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text029 {
  text-decoration: underline;
}
.home-pasted-image1 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  align-self: center;
}
.home-category2 {
  flex: 1;
  color: white;
  height: 555px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
.home-headng2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: 0px;
}
.home-text032 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: 16px;
}
.home-text033 {
  color: rgb(238, 233, 254);
  font-size: 26px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  line-height: 24px;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text034 {
  text-decoration: underline;
}
.home-pasted-image2 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  align-self: center;
  object-fit: contain;
}
.home-how-it-works-for-orgs {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #088756;
}
.home-centered-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.home-heading1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text037 {
  color: #00000e;
  font-size: 25px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-text038 {
  color: rgb(0, 0, 0);
  font-size: 46px;
  align-self: flex-start;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 300;
  text-transform: capitalize;
}
.home-category3 {
  color: white;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding-left: var(--dl-space-space-fourunits);
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
  background-color: #04c17b;
}
.home-headng3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-text039 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: 16px;
}
.home-text040 {
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
.home-get-started3 {
  margin-bottom: 0px;
}
.home-get-started3:hover {
  color: black;
  background-color: #ffffff;
}
.home-text041 {
  font-size: 18px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 600;
}
.home-container3 {
  flex: 1;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-pasted-image3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  align-self: center;
  object-fit: contain;
}
.home-row1 {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: row;
}
.home-category4 {
  flex: 1;
  color: white;
  height: 555px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.home-headng4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 0px;
}
.home-text042 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  margin-bottom: 16px;
}
.home-text043 {
  color: rgb(30, 30, 30);
  font-size: 26px;
  margin-top: var(--dl-space-space-unit);
  font-family: Alegreya Sans SC;
  line-height: 24px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-pasted-image4 {
  width: 100%;
}
.home-category5 {
  flex: 1;
  color: white;
  height: 555px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
.home-headng5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: 28px;
  flex-direction: column;
  padding-bottom: 0px;
}
.home-text046 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: 16px;
}
.home-text047 {
  color: rgb(238, 233, 254);
  font-size: 26px;
  margin-top: var(--dl-space-space-unit);
  font-family: Alegreya Sans SC;
  line-height: 24px;
  margin-bottom: var(--dl-space-space-unit);
}
.home-pasted-image5 {
  width: 100%;
  object-fit: contain;
}
.home-quote-container {
  width: 100%;
  height: 121px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #000000;
}
.home-quote {
  width: 100%;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
}
.home-message {
  color: rgb(255, 255, 255);
  font-size: 40px;
  max-width: auto;
  font-style: italic;
  font-family: Alegreya Sans SC;
  font-weight: 100;
  line-height: 52px;
}
.home-quote1 {
  color: rgb(151, 126, 249);
  width: 100%;
  font-size: 20px;
  max-width: 800px;
  font-style: normal;
  text-align: left;
  font-family: Alegreya Sans SC;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.home-banners {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.home-banner-manage {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-container4 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left2 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text050 {
  font-size: 20px;
  font-family: Alegreya Sans SC;
}
.home-text051 {
  text-align: left;
  font-family: Alegreya Sans SC;
}
.home-text052 {
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-get-started4 {
  transition: 0.3s;
  margin-bottom: 0;
}
.home-get-started4:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-template-blue-bg);
}
.home-text064 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-image-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-cards-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}
.home-banner-advanced-analytics {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: row;
  padding-bottom: 70px;
  justify-content: center;
  background-color: #EFF0F2;
}
.home-centered-container2 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}
.home-image-container1 {
  flex: 1;
  display: flex;
}
.home-cards-image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-right1 {
  flex: 1;
  display: flex;
  margin-left: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-text065 {
  font-size: 20px;
  font-family: Alegreya Sans SC;
}
.home-text066 {
  text-align: left;
  font-family: Alegreya Sans SC;
}
.home-category6 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text067 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text068 {
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-family: Alegreya Sans SC;
  line-height: 24px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text080 {
  color: #5228F5;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-family: Alegreya Sans SC;
  font-weight: 600;
}
.home-text080:hover {
  color: #000000;
}
.home-category7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text081 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text082 {
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-family: Alegreya Sans SC;
  line-height: 24px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text094 {
  color: #5228F5;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-family: Alegreya Sans SC;
  font-weight: 600;
}
.home-text094:hover {
  color: #000000;
}
.home-pricing {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: #5228F5;
}
.home-centered-container3 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text095 {
  color: var(--dl-color-gray-white);
  text-align: center;
  font-family: Alegreya Sans SC;
}
.home-cards {
  width: 693px;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.home-card {
  flex: 1;
  width: var(--dl-size-size-xxlarge);
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-text098 {
  font-size: 32px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text099 {
  color: rgb(0, 0, 0);
  font-size: 26px;
  align-self: flex-start;
  font-family: Alegreya Sans SC;
  line-height: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-get-started5 {
  align-self: flex-start;
  transition: 0.3s;
}
.home-get-started5:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-template-blue-bg);
}
.home-text100 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 600;
}
.home-text103 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-bullet-points {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-point {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.home-icon {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.home-text104 {
  font-size: 26px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.home-point1 {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.home-icon2 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.home-text105 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.home-card1 {
  flex: 1;
  width: var(--dl-size-size-xxlarge);
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 50px;
  padding-right: 29px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-text106 {
  font-size: 32px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text107 {
  color: rgb(0, 0, 0);
  font-size: 26px;
  align-self: flex-start;
  font-family: Alegreya Sans SC;
  line-height: 24px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-get-started6 {
  align-self: flex-start;
  transition: 0.3s;
}
.home-get-started6:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-template-blue-bg);
}
.home-text108 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 600;
}
.home-text111 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: Alegreya Sans SC;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-bullet-points1 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-point2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.home-icon4 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.home-text112 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.home-point3 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.home-icon6 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.home-text113 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: Alegreya Sans SC;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
@media(max-width: 1200px) {
  .home-left {
    width: 279px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-text {
    font-size: 40px;
  }
  .home-left1 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-header {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text006 {
    width: 878px;
    font-size: 41px;
  }
  .home-text017 {
    color: rgb(238, 233, 254);
    font-size: 26px;
    font-family: Alegreya Sans SC;
    line-height: 24px;
  }
  .home-text018 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
  }
  .home-text019 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
  }
  .home-text020 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: underline;
  }
  .home-text021 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text022 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
  }
  .home-text023 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
  }
  .home-text098 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-unit);
  }
  .home-text099 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-get-started5 {
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text103 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-bullet-points {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text104 {
    text-align: left;
  }
  .home-text105 {
    text-align: left;
  }
  .home-text106 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text107 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-get-started6 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text111 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-bullet-points1 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text112 {
    text-align: left;
  }
  .home-text113 {
    text-align: left;
  }
  .home-footer {
    background-color: #ffffff;
  }
  .home-text114 {
    font-size: 26px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 700;
    text-transform: capitalize;
  }
  .home-text115 {
    color: #000000;
    font-family: Alegreya Sans SC;
  }
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .home-links {
    display: none;
  }
  .home-text {
    min-width: auto;
    max-height: auto;
  }
  .home-left1 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .home-links1 {
    display: none;
  }
  .home-sign-in {
    display: none;
  }
  .home-get-started {
    display: none;
  }
  .home-mobile-menu-button {
    display: flex;
  }
  .home-header {
    width: 100%;
    max-width: 1200px;
  }
  .home-category {
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-headng {
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-container2 {
    width: 100%;
  }
  .home-pasted-image {
    height: auto;
  }
  .home-headng1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-headng2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-category3 {
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-headng3 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-container3 {
    width: 100%;
  }
  .home-pasted-image3 {
    height: auto;
  }
  .home-headng4 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-headng5 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-quote-container {
    padding-top: var(--dl-space-space-sevenunits);
    padding-bottom: var(--dl-space-space-sevenunits);
  }
  .home-message {
    width: 100%;
    max-width: 800px;
  }
  .home-banner-manage {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-left2 {
    margin-right: var(--dl-space-space-threeunits);
  }
  .home-cards-image {
    width: 360px;
  }
  .home-banner-advanced-analytics {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-cards {
    display: flex;
    flex-direction: column;
  }
  .home-card {
    width: 100%;
    align-items: flex-start;
  }
  .home-card1 {
    width: 100%;
    align-items: flex-start;
  }
}
@media(max-width: 767px) {
  .home-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .home-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-left {
    margin-left: var(--dl-space-space-unit);
  }
  .home-left1 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-right {
    margin-right: var(--dl-space-space-unit);
  }
  .home-sign-in {
    display: none;
  }
  .home-get-started {
    display: none;
  }
  .home-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-text005 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .home-text006 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .home-get-started1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .home-how-it-works-for-indivs {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text009 {
    margin-bottom: 0px;
  }
  .home-text010 {
    margin-bottom: 0px;
  }
  .home-headng {
    padding-bottom: 0px;
  }
  .home-text017 {
    color: rgb(238, 233, 254);
    font-size: 26px;
    font-family: Alegreya Sans SC;
    line-height: 24px;
  }
  .home-text018 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text019 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text020 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text021 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text022 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text023 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-get-started2 {
    display: none;
  }
  .home-container2 {
    width: 100%;
  }
  .home-row {
    height: auto;
    flex-direction: column;
  }
  .home-how-it-works-for-orgs {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text038 {
    margin-bottom: 0px;
  }
  .home-headng3 {
    padding-bottom: 0px;
  }
  .home-get-started3 {
    display: none;
  }
  .home-container3 {
    width: 100%;
  }
  .home-row1 {
    height: auto;
    flex-direction: column;
  }
  .home-quote-container {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-message {
    font-size: 24px;
    line-height: 31px;
  }
  .home-quote1 {
    font-size: 14px;
    max-width: 800px;
  }
  .home-banner-manage {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-container4 {
    flex-direction: column;
  }
  .home-left2 {
    margin-right: 0px;
  }
  .home-text051 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text052 {
    line-height: 24px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text064 {
    font-size: 16px;
  }
  .home-image-container {
    justify-content: center;
  }
  .home-cards-image {
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-banner-advanced-analytics {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-centered-container2 {
    flex-direction: column-reverse;
  }
  .home-right1 {
    margin-left: 0px;
  }
  .home-text066 {
    font-size: 28px;
    text-align: left;
    line-height: 26px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text067 {
    font-size: 20px;
  }
  .home-text068 {
    line-height: 24px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text069 {
    line-height: 24px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text081 {
    font-size: 20px;
  }
  .home-text082 {
    line-height: 24px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text083 {
    line-height: 24px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-pricing {
    width: 100%;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-centered-container3 {
    align-self: flex-start;
  }
  .home-card {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text098 {
    font-size: 28px;
  }
  .home-card1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text106 {
    font-size: 28px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text115 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-hero {
    height: 546px;
    padding-bottom: 160px;
  }
  .home-text006 {
    color: #EEE9FE;
  }
  .home-get-started1 {
    width: 100%;
  }
  .home-category {
    width: auto;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-headng {
    margin-left: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-text016 {
    font-size: 32px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 700;
  }
  .home-text017 {
    color: rgb(238, 233, 254);
    font-size: 26px;
    align-self: flex-start;
    text-align: left;
    font-family: Alegreya Sans SC;
    line-height: 24px;
  }
  .home-text018 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text019 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text020 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text021 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text022 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-text023 {
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 300;
    text-decoration: inherit;
  }
  .home-pasted-image {
    width: 100%;
  }
  .home-text026 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 700;
  }
  .home-text027 {
    color: rgb(30, 30, 30);
    font-size: 26px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 400;
    line-height: 24px;
  }
  .home-text029 {
    text-decoration: underline;
  }
  .home-text032 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 700;
  }
  .home-category3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-text039 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 700;
  }
  .home-text042 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 400;
  }
  .home-text046 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-family: Alegreya Sans SC;
    font-weight: 700;
  }
  .home-text052 {
    line-height: 24px;
  }
  .home-cards-image {
    width: 100%;
    margin-top: var(--dl-space-space-twounits);
  }
  .home-pricing {
    width: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-cards {
    width: auto;
    height: auto;
    margin-top: 0px;
    padding-left: 0px;
  }
  .home-card {
    width: 100%;
    height: 514px;
    margin: 0px;
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: 0px;
    margin-right: var(--dl-space-space-halfunit);
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: 0px;
    justify-content: center;
  }
  .home-text098 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text099 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-get-started5 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text103 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-bullet-points {
    align-self: center;
    justify-content: center;
  }
  .home-text104 {
    width: var(--dl-size-size-xlarge);
  }
  .home-text105 {
    width: var(--dl-size-size-xlarge);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-card1 {
    width: 100%;
    height: 514px;
    align-self: center;
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: 0px;
    margin-right: var(--dl-space-space-halfunit);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-text106 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text107 {
    margin: var(--dl-space-space-unit);
  }
  .home-get-started6 {
    margin: var(--dl-space-space-unit);
  }
  .home-text111 {
    margin: var(--dl-space-space-unit);
  }
  .home-bullet-points1 {
    margin: var(--dl-space-space-unit);
    align-self: center;
    justify-content: center;
  }
  .home-text112 {
    width: var(--dl-size-size-xlarge);
  }
  .home-text113 {
    width: var(--dl-size-size-xlarge);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text115 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
